.heading-section{
    background: linear-gradient(to right,#37599a,#7ab1dc);
    padding: 100px;
    padding-bottom: 150px;

    h1.title{
        font-weight: bold;
        color: #ffffff;
        text-shadow: 0px 1px 2px rgba(black,0.2);
    }
}

.content{
    margin-left: 20px;
    margin-right: 20px;
}

.container{
    max-width: 800px !important;
}


.add-todo-box{
    padding: 25px;
    background: #ffffff;
    border-radius: 4px;
    margin-top: -68px;
    box-shadow: 0 4px 12px rgba(black,0.6);
}

